/*.heading{
    font-size: 1.5rem;
    font-weight: 550;
    text-align: center;
    color: #2a79e0;
    text-transform: uppercase;
    letter-spacing: 1px;
    font-family: 'Quicksand', sans-serif;
}*/

h2 {
    font-size: 1.3rem;
    font-weight: 550;
    text-align: left;
    color: #2a79e0;
    letter-spacing: 1px;
    margin-bottom: 1.3rex;
    font-family: 'Quicksand', sans-serif;
}

.logo {
    padding-bottom: 20px;
}

p {
    font-size: 1rem;
    text-align: left;
    margin-bottom: 1rex;
    color: #9e3939;
    letter-spacing: 1px;
    font-family: 'Quicksand', sans-serif;
}

.sideheading {
    font-size: .9rem;
    font-weight: 550;
    text-align: center;
    color: #2a79e0;
    letter-spacing: 1px;
    font-family: 'Quicksand', sans-serif;
}

.contact {
    font-size: 0.8rem;
    font-weight: 450;
    text-align: left;
    margin-bottom: 2rex;
    color: #912828;
    letter-spacing: 1px;
    font-family: 'Quicksand', sans-serif;
}

#coverphoto {
    width: 97vw;
    height: 30vh;
    margin: auto;
    display: block;
}

.scover {
    width: 40vw;
    height: 40vh;
    border-radius: 10%;
}

table {
    width: 80vw;
    height: 80vh;
    margin: auto;
    display: block;
    border-collapse: collapse;
}

* {
    background-color: lightgrey;
}