/* General reset for box-sizing */
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Quicksand', sans-serif;
}

/* Header styling */
.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #ffffff;
    padding: 30px 60px;
    transition: all 0.5s;
}

/* Logo container styling */
.logo-div {
    display: flex;
    align-items: center;
    justify-content: center;

}

#logopng {
    height: 70px;
    width: auto;
    margin-right: 10px;
    margin-top: 5px;
    margin-left: 20px;
}

/* Navbar styling */
.navbar {
    display: flex;
    align-items: center;
}

.navbar-list {
    list-style: none;
    display: flex;
    margin-left: auto;
}

.navbar-item {
    margin-left: 55px;
    align-items: center;
    font-size: larger;
}

.navbar-link {
    text-decoration: none;
    color: #000000;
    font-weight: 500;
    transition: color 0.3s;
}

.navbar-link:hover {
    color: #747474;
}

/* Sub-menu styling */
.sub-menu {
    display: none;
    position: absolute;
    background-color: #ffffff;
    border: 1px solid #ffffff;
    box-shadow: 0 2px 8px rgba(49, 48, 48, 0.1);
    margin-top: 10px;
    list-style: none;
    /* Start position for the animation */
    transition: all 0.3s ease-in-out;
    /* Smooth transition */
}

.sub-menu-item {
    margin: 0;
}

.sub-menu-link {
    text-decoration: none;
    color: black;
    padding: 10px 20px;
    display: block;
}

.navbar-item:hover .sub-menu {
    display: block;

}

.sub-menu-link:hover {
    background-color: transparent;
    color: #747474;
    font-weight: bold;
}

.down-arrow {
    width: 30px;
    height: auto;
    vertical-align: middle;
}